
*{
    margin: 0px;
    padding: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');


body {
    background-color: #110B0B;
    color: #f00;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
header{
    height: 81px;
}
h1{
    color: #EF3C3C;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}
p{
    color: white;
    
    
    text-align: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    background-color: #690A0A;
    padding: 10px;
    gap: 100px;

}
nav a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
section{
    display: flex; /* Ativa o Flexbox */
    align-items: flex-start; /* Alinha os itens na parte superior */

}


